:root {
    --registerbox-color: #343d47;
    --registerbox-legend: #FFF;
    --registerbox-label: #FFF;
    --registerbox-input-text: #FFF;
    --registerbox-input-background: #4d5257;
}

.registerbox__main{
    background-color: var(--registerbox-color);
    display:flex;
    flex-direction: column;
    width:fit-content;
    margin: 2rem auto;
}

.registerbox__form{
    margin: 1rem;
}

.registerbox__form-legend{
    text-align: center;
    font-size: 1.1rem;
    color: var(--registerbox-legend);
    font-weight: 700;
    margin-bottom: 40px;
}

.registerbox__form-fieldset-formgroup{
    display:flex;
    width: 250px;
    flex-direction: row;
    padding: 0.5rem;
    margin-bottom: 10px;
    align-items: center;
}

.registerbox__form-fieldset-label{
    color: var(--registerbox-label);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
}

.registerbox__form-fieldset-input{
    flex: 1;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--registerbox-input-background);
    color: var(--registerbox-input-text);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--bg-color);
    transition: transform 0.3s, border-color 0.2s;
}

.registerbox__form-fieldset-input:focus{
    border: 2px solid #FFF;
    outline: none;
    transform: scale(1.03,1.03)
}

.input-warning {
    border: 2px solid #c70909;
}

.input-attention {
    border: 2px solid #e9b50a;
}

.registerbox__form-fieldset-button {
    background-color: var(--primary-button-bg-color);
    flex:1;
    padding: 1rem 1rem;
    font-size: 0.9rem;
    color: var(--primary-button-txt-color);
    border: 0;
    transition: all 0.4s;
}

.registerbox__form-fieldset-button:hover{
    cursor: pointer;
    transform:scale(1.05,1.02);
    box-shadow: 5px 5px 50px #3578ff52
}

.registerbox__login {
    display:flex;
    justify-content: flex-start;
}

.registerbox__login-link {
    color: var(--registerbox-label);
    font-size: 0.8rem;
    padding-left: 0.5rem;
}